<a href="https://colab.research.google.com/github/sebasruggero/python/blob/main/script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![img](https://www.argentina.gob.ar/sites/default/files/min_transporte.png)
![img](https://upload.wikimedia.org/wikipedia/commons/5/50/Sube_logo_blanco.png)


# ETL - Sube
### Lic. Sebastian Ruggero

# Extraccion

## Importamos las librerias

In [ ]:
import numpy as np
import pandas as pd 
import os

## Definimos el directorio de las fuentes de datos.

In [ ]:
os.chdir("/home/sebastian/data_science/sube")

## Leemos la data y verificamos algunas variables

In [ ]:
%%time
df = pd.read_csv("data/file.csv", sep=";", nrows= 1500000,index_col=False)

CPU times: user 5.28 s, sys: 1.49 s, total: 6.77 s
Wall time: 8.6 s

In [ ]:
df.head()

,CODIGOENTIDAD,IDLINEA,NROCHIP,NROTARJETA,CODIGOCONTRATO,SECUENCIA_TARJETA,FECHATRX,MONTO,SALDO,VALOR_TARIFA,...,EMISOR_MONEDERO,SECCION_FIN,SECCION_INICIO,DESCUENTO,PROVISION,ID_POSICIONAMIENTO,PTC,LTC,ID_COMBINACION,DESCUENTO_ITG
0,435,NaN,4087763771,1704911567,602,583,09/01/2022 09:44:16,500.0,740.62,500.0,...,5,NaN,NaN,0.0,NaN,0,558,0,NaN,NaN
1,435,NaN,36128809661985284,1831398991,602,1744,09/01/2022 09:49:35,500.0,640.59,500.0,...,5,NaN,NaN,0.0,NaN,0,1740,1,NaN,NaN
2,435,NaN,3296295979,1703944868,602,283,09/01/2022 12:01:49,200.0,223.91,200.0,...,5,NaN,NaN,0.0,NaN,0,195,0,NaN,NaN
3,435,NaN,880099183,1814806757,602,1096,09/01/2022 18:10:56,100.0,102.74,100.0,...,5,NaN,NaN,0.0,NaN,0,1089,0,NaN,NaN
4,435,NaN,1033964559,1817903537,602,2253,09/01/2022 19:43:41,200.0,312.04,200.0,...,5,NaN,NaN,0.0,NaN,0,2250,3,NaN,NaN

In [ ]:
df.dtypes

CODIGOENTIDAD             int64
IDLINEA                 float64
NROCHIP                   int64
NROTARJETA                int64
CODIGOCONTRATO            int64
SECUENCIA_TARJETA         int64
FECHATRX                 object
MONTO                   float64
SALDO                   float64
VALOR_TARIFA            float64
INTERNO                   int64
DISPOSITIVO               int64
SECTERMINAL               int64
CODIGOTIPOTRX             int64
CODIGOSUBTIPOTRX          int64
TIPOMAPPING               int64
ENTIDAD_EMISORA_TARJ      int64
CODIGOERROR               int64
FECHAPROCESO             object
RAMAL                     int64
IDARCHIVOINTERCAMBIO      int64
CODIGOROL                object
CODIGOTIPOTARJETA         int64
SENTIDO                 float64
MONEDERO_ID               int64
EMISOR_CONTRATO           int64
SAM_ID                    int64
LG_ID                   float64
TIPO_TERMINAL             int64
ID_SERVICIO             float64
VERSION_TIPO_TRX          int64
ID_INTEGRADOR             int64
EMISOR_MONEDERO           int64
SECCION_FIN             float64
SECCION_INICIO          float64
DESCUENTO               float64
PROVISION               float64
ID_POSICIONAMIENTO        int64
PTC                       int64
LTC                       int64
ID_COMBINACION          float64
DESCUENTO_ITG           float64
dtype: object

In [ ]:
df.EMISOR_CONTRATO.unique()

array([5])

In [ ]:
df["FECHATRX"].unique()

array(['09/01/2022 09:44:16', '09/01/2022 09:49:35',
       '09/01/2022 12:01:49', ..., '05/02/2022 20:26:19',
       '05/02/2022 20:27:07', '05/02/2022 20:27:12'], dtype=object)

In [ ]:
df.CODIGOCONTRATO.unique()

array([602, 627, 621, 624, 659, 668, 565, 733, 734, 735, 665, 784, 636,
       637, 635, 887, 324, 612, 658, 579, 833, 832, 830, 584, 578, 583,
       566, 662, 505, 585, 633, 693, 524, 523, 521, 531, 827, 834, 822,
       824, 823, 819, 829, 656, 651, 721, 726, 724, 727, 653, 728, 828,
       506, 795, 568, 581, 582, 667, 858, 888, 569, 642, 763, 765, 767,
       691, 766, 695, 657, 669, 787, 831, 754, 753, 899, 900, 552, 556,
       550, 696, 747, 746, 886, 760, 723, 740, 641, 729, 720, 617, 885,
       542, 546, 540, 774, 522, 712, 299, 304, 692, 863, 898, 619, 881,
       664, 663])

# Transformacion

## Creamos las columnas Time alternativa

In [ ]:
df['FECHATRX_1'] =  pd.to_datetime(df.FECHATRX, errors='ignore')

In [ ]:
df['FECHATRX_2'] = pd.to_datetime(df["FECHATRX_1"]).dt.strftime('%m-%d-%Y')

In [ ]:
df.head(1)

,CODIGOENTIDAD,IDLINEA,NROCHIP,NROTARJETA,CODIGOCONTRATO,SECUENCIA_TARJETA,FECHATRX,MONTO,SALDO,VALOR_TARIFA,...,SECCION_INICIO,DESCUENTO,PROVISION,ID_POSICIONAMIENTO,PTC,LTC,ID_COMBINACION,DESCUENTO_ITG,FECHATRX_1,FECHATRX_2
0,435,NaN,4087763771,1704911567,602,583,09/01/2022 09:44:16,500.0,740.62,500.0,...,NaN,0.0,NaN,0,558,0,NaN,NaN,2022-09-01 09:44:16,09-01-2022

In [ ]:
df['AÑO'] = df["FECHATRX_1"].dt.year 
df['MES'] = df['FECHATRX_1'].dt.day
df['DIA'] = df['FECHATRX_1'].dt.month
df['HORA'] = df['FECHATRX_1'].dt.hour
df['NUMERODIA'] = df['FECHATRX_1'].dt.dayofweek

In [ ]:
df.head(1)

,CODIGOENTIDAD,IDLINEA,NROCHIP,NROTARJETA,CODIGOCONTRATO,SECUENCIA_TARJETA,FECHATRX,MONTO,SALDO,VALOR_TARIFA,...,LTC,ID_COMBINACION,DESCUENTO_ITG,FECHATRX_1,FECHATRX_2,AÑO,MES,DIA,HORA,NUMERODIA
0,435,NaN,4087763771,1704911567,602,583,09/01/2022 09:44:16,500.0,740.62,500.0,...,0,NaN,NaN,2022-09-01 09:44:16,09-01-2022,2022,1,9,9,3

## Armamos el nuevo dataframe y reindexamos

In [ ]:
df_subset = df.loc[:,["FECHATRX_2","AÑO", "MES", "DIA", "HORA","NUMERODIA","NROTARJETA", "CODIGOCONTRATO", "SECUENCIA_TARJETA", "MONTO", "SALDO", "VALOR_TARIFA"]]

In [ ]:
df_subset = df_subset.reindex(columns=["FECHATRX_2","AÑO", "MES", "DIA", "HORA","NUMERODIA","NROTARJETA", "CODIGOCONTRATO", "SECUENCIA_TARJETA", "MONTO", "SALDO", "VALOR_TARIFA"])

In [ ]:
df_subset.dtypes

FECHATRX_2            object
AÑO                    int64
MES                    int64
DIA                    int64
HORA                   int64
NUMERODIA              int64
NROTARJETA             int64
CODIGOCONTRATO         int64
SECUENCIA_TARJETA      int64
MONTO                float64
SALDO                float64
VALOR_TARIFA         float64
dtype: object

## Cambiamos el tipo de datos

In [ ]:
df_subset['AÑO'] = df_subset['AÑO'].apply(np.int32)
df_subset['MES'] = df_subset['MES'].apply(np.int32)
df_subset['DIA'] = df_subset['DIA'].apply(np.int32)
df_subset['NUMERODIA'] = df_subset['DIA'].apply(np.int32)
df_subset['NROTARJETA'] = df_subset['NROTARJETA'].apply(np.int32)
df_subset['CODIGOCONTRATO'] = df_subset['CODIGOCONTRATO'].apply(np.int32)
df_subset['SECUENCIA_TARJETA'] = df_subset['SECUENCIA_TARJETA'].apply(np.int32)

In [ ]:
df_subset.dtypes

FECHATRX_2            object
AÑO                    int64
MES                    int64
DIA                    int64
HORA                   int64
NUMERODIA              int64
NROTARJETA             int64
CODIGOCONTRATO         int64
SECUENCIA_TARJETA      int64
MONTO                float64
SALDO                float64
VALOR_TARIFA         float64
dtype: object

In [ ]:
df_subset.head()

,FECHATRX_2,AÑO,MES,DIA,HORA,NUMERODIA,NROTARJETA,CODIGOCONTRATO,SECUENCIA_TARJETA,MONTO,SALDO,VALOR_TARIFA
0,09-01-2022,2022,1,9,9,9,1704911567,602,583,500.0,740.62,500.0
1,09-01-2022,2022,1,9,9,9,1831398991,602,1744,500.0,640.59,500.0
2,09-01-2022,2022,1,9,12,9,1703944868,602,283,200.0,223.91,200.0
3,09-01-2022,2022,1,9,18,9,1814806757,602,1096,100.0,102.74,100.0
4,09-01-2022,2022,1,9,19,9,1817903537,602,2253,200.0,312.04,200.0

## Salvamos el archivo

In [ ]:
%time
df_subset.to_csv("output/salida.csv")

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 8.11 µs

In [ ]:
%time
df_subset.to_hdf("output/salida.h5", key="s")

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 11.4 µs

## Tablas

- Acumulado Anual

In [ ]:
tabla_año = df.groupby("AÑO").count()

In [ ]:
tabla_año.FECHATRX

AÑO
2021       5973
2022    1494027
Name: FECHATRX, dtype: int64

- Acumulado Mensual

In [ ]:
tabla_dia = df.groupby("NUMERODIA").count()

In [ ]:
tabla_dia.FECHATRX_1

NUMERODIA
0     60737
1    144129
2     71846
3    215793
4    435897
5    547524
6     24074
Name: FECHATRX_1, dtype: int64